body {
	font-family: sans-serif;
	font-size: 15px;
	width: 620px;
	margin-left: auto;
	margin-right: auto;
}
/*para darle borde al canvas*/
#myCanvas {
	display: block;
	/* margin: 10px auto;
	height: 400px;
	width: 800px;*/
	border: 1px solid black;
	position: relative;
}
#buttons {
	padding: 7px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
